**/node_modules
**/.next
**/.astro
**/dist
**/.idea/
**/.turbo/
**/.DS_Store
.env
!README.md
.vercel
workspace-automations-478502-6aa7cbc08fd5.json
.cursor
*.code-workspace
marketing/orgo-ai_computer-use-agents_CEO_meeting.txt
