[submodule "packages/typescript-config"]
	path = packages/typescript-config
	url = https://github.com/subwizzll/ruckus-typescript-config.git
[submodule "packages/ruckus-integrations"]
	path = packages/ruckus-integrations
	url = https://github.com/subwizzll/ruckus-integrations.git
